.paste-url-cont{
    font-family: 'Roboto';
}
.pasteurltext{
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #676767;
}
.paste-url-inner{
    width: 100%;
}

.paste-url-input{
    height: 3em;
    width: 100%;

    background: #FFFFFF;
border: 1px solid #0174FF;
border-radius: 4px;
;
font-weight: 400;
font-size: 12px;
line-height: 18px;
}
.paste-url-input:focus{
    border-style: none;
    outline-style: none;
    height: 3em;
    width: 100%;
    background: #FFFFFF;
border: 1px solid #0174FF;
border-radius: 4px;
}