.AddUserOptionPageWrapper table .nameCheckBoxDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 16px;
    align-items: center;
}

.AddUserOptionPageWrapper .nameCheckBoxDiv input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-right: 20px;
    box-shadow: none;
    background-color: white;
    cursor: pointer;
    border: none;
}
.AddUserOptionPageWrapper .clickAbleCursorPointerU{
    cursor: pointer;
}

/* toggle button */
.AddUserOptionPageWrapper .toogleSwitch .switch {
    background-color: #0174FF;
    width: 23px;
    height: 23px;
    border: none;
    /* transform: translate(-4px,6.5px); */
}

/* .AddUserOptionPageWrapper .toogleSwitch .inner::before{
    background-color: white;
    font-size: 11px;
} */

.AddUserOptionPageWrapper .toogleSwitch .toggle-switch{
    margin: 0px 0px 0px 10px;
}
.AddUserOptionPageWrapper .dropDownIcon {
    transform: scale(.8) translateY(2px);
}
/* multiSelect */
.AddUserOptionPageWrapper .extraClassMultiSelectWrapper{
    position: absolute;
    transform: translate(-40px, 10px);
    width: 200px;
}

.AddUserOptionPageWrapper .extraClassMultiSelectWrapper .multiselect-inner{
    border-radius: 7px 7px 0px 0px;
}
.AddUserOptionPageWrapper .extraClassMultiSelectWrapper .optionsofcheck:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.AddUserOptionPageWrapper .extraClassMultiSelectWrapper .options-para{
    text-transform: capitalize;
}

.AddUserOptionPageWrapper .extraClassMultiSelectWrapper .down-section-mll3874{
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}