.createPage-outerDiv{
    /* background: linear-gradient(196.77deg, #FFFFFF 11.07%, #C6D7EB 171.07%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 81vh; */
}